<% include ../partials/header %>

    <h1 class="ui huge header">List of Management</h1>
    <div class="ui divider"></div>
    <form class="ui form" action="/admin/db/management/new" method="POST">
      <div class="field">
        <label>First Name:</label>
        <div class="four fields">
          <div class="field">
                <input class="" name="firstname" placeholder="First Name" required></input>
            </div>
            <div class="field">
              <input class="" name="lastname" placeholder="Last Name" required></input>
            </div>
            <div class="field">
              <select class="" name="role" required>
                <option value="Lead">Lead</option>
                <option value="Manager">Manager</option>
              </select>
            </div>
            <div class="field">
                <button class="ui green inverted left button">Add</button>
                <a href="/admin" class="ui red inverted right button">Go Back</a>
            </div>
        </div>
    </form>
    <div id="productdbinfo" class="">
         <table class="ui celled table">
            <thead>
                <tr>
                    <th class="four wide">First Name:</th>
                    <th class="four wide">Last Name:</th>
                    <th class="four wide">Title:</th>
                    <th class="two wide">Edit:</th>
                    <th class="two wide">Delete:</th>
                </tr>
            </thead>
            <tbody>
            <% managers.forEach(function(manager){ %>
                <tr>
                    <td><%= manager.firstname %></td>
                    <td><%= manager.lastname %></td>
                    <td><%= manager.role %></td>
                    <td><a href="/admin/db/management/<%= manager._id %>/edit" class="ui green inverted button">Edit</a></td>
                    <td>
                        <form action='/admin/db/management/<%= manager._id %>/delete?_method=DELETE' method='POST' onsubmit='return confirm("Are you sure you want to delete <%= manager.firstname+ ' '+manager.lastname %>?");'>
                            <button class="ui red inverted button">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>

<% include ../partials/footer %>
