<% include ../partials/header %>
    
    <% if(currentUser && currentUser.admin === true){ %>
    <div class="ui grid">
        <div class="twelve wide column">
            <form class='ui' action='' method="POST">
                <select class="ui fluid dropdown" name="searchType">
                    <option value="name">Name:</option>
                    <option value="In PMO">In PMO</option>
                    <option value="In Support">In Support</option>
                    <option value="Inactive Client">Inactive Client</option>
                </select>
            </form>            
        </div>
        <div class="four wide column">
            <a class="ui right floated button" href="/clients/new">Add A New Client</a><br>   
        </div>
    </div>
    <hr>
    <% } %>
    
    <table class="ui celled table">
        <thead>
            <tr>
                <th class="six wide">Client Name:</th>
                <th class="three wide">Support Plan:</th>
                <th class="three wide">Account Status:</th>
                <th class="two wide">24/7 IT:</th>
                <th class="two wide">AD Client:</th>
            </tr>
        </thead>
        <tbody>
        <% clients.forEach(function(client){ %>
            <tr>
              <td><a href="/clients/<%= client._id %>"><%= client.name %></a></td>
              <td><%= client.supportPlan %></td>
              <td><%= client.status %></td>
              <td><%= client.it_24_7 %></td>
              <td><%= client.adclient %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>

<% include ../partials/footer %>