<% include ../partials/header %>
    <a class="ui purple inverted button" href="/clients/"><i class="ui arrow left icon"></i> Go Back</a>
    <div class="ui center aligned container">
        <a class="ui green inverted button" href="/clients/<%= client._id %>">Client Info</a>
        <a class="ui green inverted button" href="/clients/<%= client._id %>/products">Product Info</a>
        <a class="ui green inverted active button" href="/clients/<%= client._id %>/servers">Server Info</a>
    </div>
    <div class="ui huge header">
        <%= client.name %>'s Server info:   <% if(currentUser && currentUser.admin === true && currentUser.defaultview !== false){ %> <a class="ui blue inverted right floated button" href="/clients/<%= client._id %>/servers/new/db">Add DB Server</a>    <a class="ui blue inverted right floated button" href="/clients/<%= client._id %>/servers/new/app">Add App Server</a><% } %>
    </div>
    <div class="ui center aligned container">
        <div class="ui large buttons">
            <button onclick="hideThis(3);" class="ui button">Application Servers</button>
            <div class="or"></div>
            <button onclick="hideThis(4);" class="ui button">Database Servers</button>
            <div class="or"></div>
            <button onclick="hideThis(6);" class="ui button">Inactive Servers</button>
        </div>

    </div>
    <hr>
    <div id="appServers">
      <div class="after40">
        <div class="ui label">
            Production Application Server(s):
        </div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>RDP Hostname:</th>
                    <th>RDP IP:</th>
                    <th>RDP Domain:</th>
                    <th>Role:</th>
                    <th>App Path:</th>
                    <th>Notes:</th>
                    <th>OS:</th>
                    <th>CPU:</th>
                    <th>RAM:</th>
                    <th>Disk:</th>
                </tr>
            </thead>
            <tbody>
            <% client.appservers.forEach(function(appserver){ %>
                <% if(appserver.type === "Production"){ %>
                <tr>
                    <td><a href="/clients/<%= client._id %>/servers/app/<%= appserver._id %>"><%= appserver.rdphostname %></a></td>
                    <td><%= appserver.rdpip %></td>
                    <td><%= appserver.rdpdomain %></td>
                    <td><%= appserver.role %></td>
                    <td><%= appserver.apppath %></td>
                    <td><%= client.name %></td>
                    <td><%= appserver.os %></td>
                    <td><%= appserver.cpu %></td>
                    <td><%= appserver.ram %></td>
                    <td><%= appserver.disk %></td>
                    </tr>
                </thead>
                <tbody>
                    </tr>
                <% }; %>
            <% }); %>
            </tbody>
        </table>
        <hr>
        <div class="ui label">
            Test Application Server(s):
        </div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>RDP Hostname:</th>
                    <th>RDP IP:</th>
                    <th>RDP Domain:</th>
                    <th>Role:</th>
                    <th>App Path:</th>
                    <th>Notes:</th>
                    <th>OS:</th>
                    <th>CPU:</th>
                    <th>RAM:</th>
                    <th>Disk:</th>
                </tr>
            </thead>
            <tbody>
             <% client.appservers.forEach(function(appserver){ %>
                <% if(appserver.type === "Test"){ %>
                    <tr>
                      <td><a href="/clients/<%= client._id %>/servers/app/<%= appserver._id %>"><%= appserver.rdphostname %></a></td>
                      <td><%= appserver.rdpip %></td>
                      <td><%= appserver.rdpdomain %></td>
                      <td><%= appserver.role %></td>
                      <td><%= appserver.apppath %></td>
                      <td><%= client.name %></td>
                      <td><%= appserver.os %></td>
                      <td><%= appserver.cpu %></td>
                      <td><%= appserver.ram %></td>
                      <td><%= appserver.disk %></td>
                    </tr>
                <% }; %>
            <% }); %>
            </tbody>
        </table>
      </div>
    </div>
    <div id="dbServers" class="bye">
      <div class="after40">
        <div class="ui label">
            Production Database Server(s):
        </div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Hostname:</th>
                    <th>IP:</th>
                    <th>Port:</th>
                    <th>DB Name::</th>
                    <th>DB Type:</th>
                    <th>DB Version:</th>
                    <th>DB Schema</th>
                    <th>OS:</th>
                    <th>CPU:</th>
                    <th>RAM:</th>
                    <th>Disk:</th>
                </tr>
            </thead>
            <tbody>
            <% client.dbservers.forEach(function(dbserver){ %>
                <% if(dbserver.type === "Production"){ %>
                <tr>
                    <td><a href="/clients/<%= client._id %>/servers/db/<%= dbserver._id %>"><%= dbserver.hostname %></a></td>
                    <td><%= dbserver.ip %></td>
                    <td><%= dbserver.port %></td>
                    <td><%= dbserver.dbname %></td>
                    <td><%= dbserver.dbtype %></td>
                    <td><%= dbserver.dbversion %></td>
                    <td><%= dbserver.dbschema %></td>
                    <td><%= dbserver.os %></td>
                    <td><%= dbserver.cpu %></td>
                    <td><%= dbserver.ram %></td>
                    <td><%= dbserver.disk %></td>
                </tr>
                <% }; %>
            <% }); %>
            </tbody>
        </table>
        <hr>
        <div class="ui label">
            Test Database Server(s):
        </div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Hostname:</th>
                    <th>IP:</th>
                    <th>Port:</th>
                    <th>DB Name::</th>
                    <th>DB Type:</th>
                    <th>DB Version:</th>
                    <th>DB Schema</th>
                    <th>OS:</th>
                    <th>CPU:</th>
                    <th>RAM:</th>
                    <th>Disk:</th>
                </tr>
            </thead>
            <tbody>
             <% client.dbservers.forEach(function(dbserver){ %>
                <% if(dbserver.type === "Test"){ %>
                    <tr>
                        <td><a href="/clients/<%= client._id %>/servers/db/<%= dbserver._id %>"><%= dbserver.hostname %></a></td>
                        <td><%= dbserver.ip %></td>
                        <td><%= dbserver.port %></td>
                        <td><%= dbserver.dbname %></td>
                        <td><%= dbserver.dbtype %></td>
                        <td><%= dbserver.dbversion %></td>
                        <td><%= dbserver.dbschema %></td>
                        <td><%= dbserver.os %></td>
                        <td><%= dbserver.cpu %></td>
                        <td><%= dbserver.ram %></td>
                        <td><%= dbserver.disk %></td>
                    </tr>
                <% }; %>
            <% }); %>
            </tbody>
        </table>
      </div>
    </div>
    <div id="inactServers" class="bye">
        <div class="after40">
            <div class="ui label">
                Inactive Application Server(s):
            </div>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>RDP Hostname:</th>
                        <th>RDP IP:</th>
                        <th>RDP Domain:</th>
                        <th>Role:</th>
                        <th>App Path:</th>
                        <th>Notes:</th>
                        <th>OS:</th>
                        <th>CPU:</th>
                        <th>RAM:</th>
                        <th>Disk:</th>
                    </tr>
                </thead>
                <tbody>
                <% client.appservers.forEach(function(appserver){ %>
                    <% if(appserver.type === "Inactive"){ %>
                    <tr>
                        <td><a href="/clients/<%= client._id %>/servers/app/<%= appserver._id %>"><%= appserver.rdphostname %></a></td>
                        <td><%= appserver.rdpip %></td>
                        <td><%= appserver.rdpdomain %></td>
                        <td><%= appserver.role %></td>
                        <td><%= appserver.apppath %></td>
                        <td><%= client.name %></td>
                        <td><%= appserver.os %></td>
                        <td><%= appserver.cpu %></td>
                        <td><%= appserver.ram %></td>
                        <td><%= appserver.disk %></td>
                        </tr>
                    </thead>
                    <tbody>
                        </tr>
                    <% }; %>
                <% }); %>
                </tbody>
            </table>
            <hr>
        </div>
        <div>
            <div class="ui label">
                Inactive Database Server(s):
            </div>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Hostname:</th>
                        <th>IP:</th>
                        <th>Port:</th>
                        <th>DB Name::</th>
                        <th>DB Type:</th>
                        <th>DB Version:</th>
                        <th>DB Schema</th>
                        <th>OS:</th>
                        <th>CPU:</th>
                        <th>RAM:</th>
                        <th>Disk:</th>
                    </tr>
                </thead>
                <tbody>
                <% client.dbservers.forEach(function(dbserver){ %>
                    <% if(dbserver.type === "Inactive"){ %>
                    <tr>
                        <td><a href="/clients/<%= client._id %>/servers/db/<%= dbserver._id %>"><%= dbserver.hostname %></a></td>
                        <td><%= dbserver.ip %></td>
                        <td><%= dbserver.port %></td>
                        <td><%= dbserver.dbname %></td>
                        <td><%= dbserver.dbtype %></td>
                        <td><%= dbserver.dbversion %></td>
                        <td><%= dbserver.dbschema %></td>
                        <td><%= dbserver.os %></td>
                        <td><%= dbserver.cpu %></td>
                        <td><%= dbserver.ram %></td>
                        <td><%= dbserver.disk %></td>
                    </tr>
                    <% }; %>
                <% }); %>
                </tbody>
            </table>
            <hr>
        </div>
      </div>
    </div>
<% include ../partials/footer %>
