<% include ../partials/header %>

    <a class="ui purple inverted button" href="/clients/<%= client._id %>/servers"><i class="ui arrow left icon"></i> Go Back</a>
    <div class="ui aligned huge header">
        <%= client.name %>'s Server Information:
        <% if(currentUser && currentUser.admin === true){ %>
        <div id="actionButtons" class="ui right floated statistic">
            <form action="/clients/<%= client._id %>/servers/db/<%= server._id %>?_method=DELETE" method="POST">
            <a class="ui small orange inverted button" href="/clients/<%= client._id %>/servers/db/<%= server._id %>/edit">Edit Server</a>
            <button class="ui small red inverted button">Delete Server</button>
            </form>
        </div>
        <% } %>
    </div>
    <hr>
    <div class="ui header">
        Server: <%= server.hostname %>
    </div>
        <span class="ui button disabled"><strong>Environment: <%= server.type %></strong></span>
    </div>
    <div class="ui segments">
        <div class="ui secondary segment">
            <span class="ui header"><%= server.hostname %>'s Information:</span>
        </div>
        <div class="ui segment">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="ui center aligned grid">
                        <div class="five wide column">
                            IP: <%= server.ip %>
                        </div>
                        <div class="five wide column">
                            Port: <%= server.port %>
                        </div>
                        <div class="five wide column">
                            Database Name: <%= server.dbname %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segments">
        <div class="ui secondary segment">
            <span class="ui header">Database Information:</span>
        </div>
        <div class="ui segment">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="ui center aligned grid">
                        <div class="five wide column">
                            Database Version: <%= server.dbversion %>
                        </div>
                        <div class="five wide column">
                            Database Schema: <%= server.dbschema %>
                        </div>
                        <div class="five wide column">
                            JDBC URL: <%= server.jdbcurl %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segments">
        <div class="ui secondary segment">
            <span class="ui header">Hardward Information:</span>
        </div>
        <div class="ui segment">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="ui center aligned grid">
                        <div class="four wide column">
                            Operating System: <%= server.os %>
                        </div>
                        <div class="four wide column">
                            Ram Info: <%= server.ram %>
                        </div>
                        <div class="four wide column">
                            CPU Info: <%= server.cpu %>
                        </div>
                        <div class="four wide column">
                            Disk Info: <%= server.disk %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segments after40">
        <div class="ui secondary segment">
            <span class="ui header">Server Notes:</span>
        </div>
        <div class="ui segment">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <%= server.notes %>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
