<% include ../partials/header %>
    <% var oneDay = 24*60*60*1000; %>
    <% var startDate = new Date(); %>

        <a class="ui purple inverted button" href="/knowledge"><i class="ui arrow left icon"></i> Go Back</a>
        <div class="ui huge header">
            <%= product.name %> - Support's Knowledge Base
        </div>
        <div class="ui header">
            Please Select A Cateogory:
        </div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui center aligned container">
                    <div class="ui buttons">
                      <a class="ui blue button" href="/knowledge/<%= product._id %>/info">Helpful Info</a>
                      <div class="or"></div>
                      <a class="ui yellow active button" href="/knowledge/<%= product._id %>/questions">Questions</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="questions" class="after40">
            <div>
                <a class="ui blue inverted right floated button" href="/knowledge/<%= product._id %>/questions/new">
                    Add A New Question
                </a>
            </div>
            <br><br>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th class="four wide">Creator:</th>
                        <th class="four wide">Created:</th>
                        <th class="eight wide">Desccription:</th>
                    </tr>
                </thead>
                <tbody>
                <% messages.forEach(function(message){ %>
                    <tr class='highlight' onclick="window.location='/knowledge/<%= message.product %>/<%= message.type %>/<%= message._id %>'">
                        <td><%= message.creator.firstname + " " +  message.creator.lastname %></td>
                        <% var endDate1 = new Date(message.created);%>
                        <% var diffDate1 =  Math.round(Math.abs((startDate.getTime() - endDate1.getTime())/(oneDay))); %>
                        <td><%= diffDate1 %> Days Ago</td>
                        <td><%= message.desc %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>

<% include ../partials/footer %>
