<% include ../partials/header %>
<% var oneDay = 24*60*60*1000; %>
<% var startDate = new Date(); %>
<% var endDate = new Date(message.created);%>
<% var diffDate =  Math.round(Math.abs((startDate.getTime() - endDate.getTime())/(oneDay))); %>
    <div class="backdrop"></div>
        <div class="modal">
            <div class="ui header">
            You are adding a comment to "<%= message.desc %>"
        </div>
        <form action="/knowledge/<%= message.product %>/<%= message.type %>/<%= message._id %>/comment" method="POST" class="ui form">
            <div class="field">
                <label>
                    Comment
                </label>
                <textArea name="comment"></textArea>
            </div>
            <button class="ui green inverted right floated button">
                Post Comment
            </button>
        </form>
    </div>
    <div id="newInfo">
        <a class="ui purple inverted button" href="/knowledge/<%= message.product %>/<%= message.type %>"><i class="ui arrow left icon"></i> Go Back</a>
        <div class="ui huge header">
            <%= product.name %> Knowledge Base
        </div>
        <hr>
        <% if(message.type === "info"){ %>
        <div class="ui green message">
        <% } else { %>
        <div class="ui yellow message">
        <% }; %>
            <div class="ui center aligned header">
                <%= message.desc %>
            </div>
            <br>
            <div>
                <h3><%- message.message %></h3>
            </div>
            <br>
            <br>
            <div>
                <% options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true, timeZone: 'UTC', timeZoneName: 'short' }; %>
                <% if(message.type === "info"){ %>
                This information was provided by <%= message.creator.firstname + " " + message.creator.lastname %> on <%= Intl.DateTimeFormat('en-US', options).format(message.created) %>
                <% } else { %>
                This question was asked by <%= message.creator.firstname + " " + message.creator.lastname %> on <%= Intl.DateTimeFormat('en-US', options).format(message.created) %>
                <% }; %>
            </div>
            <br>
            <% if(currentUser && currentUser._id == message.creator._id || currentUser.admin == true){ %>
            <%if(message.type == "questions"){ var thismessage = "Question" } else { var thismessage = "Info"}%>
            <div>
                <form action='/knowledge/<%= message.product %>/<%= message.type %>/<%= message._id %>/delete?_method=DELETE' method='POST' onsubmit='return confirm("Are you sure you want to delete this <%= thismessage %>?");'>
                    <a href="/knowledge/<%= message.product %>/<%= message.type %>/<%= message._id %>/edit" class="ui small blue inverted button">Edit <%= thismessage %></a>
                    <button class="ui small red inverted button">Delete <%= thismessage %></button>
                </form>
            </div>
            <% } %>
        </div>
        <div>
            <a class="ui blue inverted right floated button kprod" href="#">
                Add a Comment
            </a>
        </div>
        <br>
        <hr>
        <% message.replies.sort(function(a,b){return b.created - a.created}).forEach(function(reply){ %>
        <div class="ui comments">
            <div class="comment">
                <div class="content">
                  <a class="author"><%= reply.creator.firstname + " " + reply.creator.lastname %></a>
                  <div class="metadata">
                    <span class="date"><%= Intl.DateTimeFormat('en-US', options).format(reply.created) %></span>
                  </div>
                  <div class="text">
                    <p><%- reply.comment %></p>
                  </div>
                </div>
                <% if(currentUser && currentUser._id == reply.creator._id || currentUser.admin == true){ %>
                <form action='/knowledge/<%= message.product %>/<%= message.type %>/<%= message._id %>/comment/<%= reply._id %>/delete?_method=DELETE' method='POST' onsubmit='return confirm("Are you sure you want to delete this Comment?");'>
                    <a href="/knowledge/<%= message.product %>/<%= message.type %>/<%= message._id %>/comment/<%= reply._id %>/edit" class="ui mini blue inverted button">Edit Comment</a>
                    <button class="ui mini red inverted button">Delete Comment</button>
                </form>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>    
<% include ../partials/footer %>