
<% include ../partials/header %>
<div class="backdrop"></div>
<div class="modal">
     <form class="ui form" action="/knowledge" method="POST">
          <div class="ui grid">
               <div class="sixteen wide column">
                    <% if(currentUser.settings && currentUser.settings.urlpic){ %>
                         <input name="urlpic" placeholder="<%= currentUser.settings.urlpic %>">
                    <% } else { %>
                         <input name="urlpic" placeholder="Please Add a Picture URL">
                    <% } %>
               </div>
               <div class="sixteen wide column">
                    <% if(currentUser.settings){ %>
                    <select class="ui select" name="depart" onchange="department()">
                         <%# <% dep %> %>
                         <h1>Something that was dep</h1>
                    </select>
                    <% } %>
               </div>
          </div>
     </form>
</div>
<div id="homeOpening">
     <h1> Hello <%= currentUser.firstname + " " + currentUser.lastname %> </h1>
     <hr>
</div>
<% if(currentUser.settings) {%>
     <div id="withsets" class="ui grid">
          <div class="ui sixteen wide">
               <div class="ui grid">
                    <div class="ui eight wide">
                         <img class="ui medium bordered image" src="<%= currentUser.settings.urlpic %>">
                    </div>
                    <div class="ui eight wide">
                         <ul>
                              <h3>Department: <%= currentUser.settings.department %></h3>
                              <h3>Title: <%= currentUser.settings.title %></h3>
                              <h3>Manager: <%= currentUser.settings.manager %></h3>
                              <h3>Lead: <%= currentUser.settings.lead %></h3>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
<% } %>

<div class="accessinfo">
     <p>Your current access level is
          <% if(currentUser.username === 'admin_user'){ %>
               limited administrator.  You have most of the rights as a normal administrator, but with limits to the user information data and deleting.
          <% } else if(currentUser.admin === true){ %>
               Administrator.  You have full access on this application.
          <% } else { %>
               Read Only Access.  You can view data and add knowledge based information and questions.
          <% } %>
     </p>
</div>

<div id="setSettings">
     <a href="#" class="ui green inverted button disabled">Edit Settings</a>
</div>

<% include ../partials/footer %>
