<% include ../partials/header %>

    <div class="ui huge header">
        You are Editing Products for <%= client.name %>:
    </div>
    <div class="after40">
      <form id="newProdForm" class="ui form" action="/clients/<%= client._id %>/products/<%= oldProduct._id %>?_method=PUT" method="POST">
          <h3 class="ui dividing header">Editing Product Form</h3>
          <div class="two fields">
              <div class="field">
                  <label>Please Select Product</label>
                  <select class="ui fluid dropdown" name="product[name]">
                      <option value="<%= oldProduct.name %>"><%= oldProduct.name %></option>
                      <% products.forEach(function(product) { %>
                          <option value="<%= product.name %>"><%= product.name %></option>
                      <% }); %>
                  </select>
              </div>
              <div class="field">
                  <label>Current Status:</label>
                  <select class="ui fluid dropdown" name="product[type]">
                      <option value="<%= oldProduct.type %>"><%= oldProduct.type %></option>
                      <option value="Production">Production</option>
                      <option value="Testing">Testing</option>
                      <option value="Inactive">Inactive</option>
                  </select>
              </div>
          </div>
          <h3 class="ui dividing header">Production App Information:</h3>
          <div class="ui grid">
              <div class="sixteen wide column">
                  <div class="ui grid">
                      <div class="eight wide column">
                          <label>URL:</label>
                          <input type="text" name="product[url]" value="<%= oldProduct.url %>">
                      </div>
                      <div class="four wide column">
                          <label>UI Version:</label>
                          <input type="text" name="product[uiversion]" value="<%= oldProduct.uiversion %>">
                      </div>
                      <div class="four wide column">
                          <label>BE Version:</label>
                          <input type="text" name="product[beversion]" value="<%= oldProduct.beversion %>">
                      </div>
                  </div>
              </div>
              <div class="sixteen wide column">
                  <div class="ui grid">
                      <div class="eight wide column">
                          <label>Maker URL:</label>
                          <input type="text" name="product[maker]" value="<%= oldProduct.maker %>">
                      </div>
                      <div class="four wide column">
                          <label>Maker Version:</label>
                          <input type="text" name="product[makerver]" value="<%= oldProduct.makerver %>">
                      </div>
                  </div>
              </div>
              <div class="sixteen wide column">
                  <div class="ui grid">
                      <div class="eight wide column">
                          <label>FlowViz URL:</label>
                          <input type="text" name="product[flowviz]" value="<%= oldProduct.flowviz %>">
                      </div>
                      <div class="four wide column">
                          <label>FlowViz Version:</label>
                          <input type="text" name="product[flowvizver]" value="<%= oldProduct.flowvizver %>">
                      </div>
                  </div>
              </div>
              <div class="sixteen wide column">
                  <div class="ui grid">
                      <div class="eight wide column">
                          <label>FlowViz Username:</label>
                          <input type="text" name="product[flowvizun]" value="<%= oldProduct.flowvizun %>">
                      </div>
                      <div class="eight wide column">
                          <label>FlowViz Password:</label>
                          <input type="text" name="product[flowvizpd]" value="<%= oldProduct.flowvizpd %>">
                      </div>
                  </div>
              </div>
              <div class="sixteen wide column">
                  <div class="ui grid">
                      <div class="six wide column">
                          <label>Rabbit MQ URL:</label>
                          <input type="text" name="product[rabbit]" value="<%= oldProduct.rabbit %>">
                      </div>
                      <div class="five wide column">
                          <label>Rabbit Username:</label>
                          <input type="text" name="product[rabbitun]" value="<%= oldProduct.rabbitun %>">
                      </div>
                      <div class="five wide column">
                          <label>Rabbit Password:</label>
                          <input type="text" name="product[rabbitpd]" value="<%= oldProduct.rabbitpd %>">
                      </div>
                  </div>
              </div>
              <div class="sixteen wide column">
                  <label>Special Notes:</label>
                  <textarea name="product[note]"><%= oldProduct.note %></textarea>
              </div>
          </div><br>
          <button class="ui blue inverted button">Submit</button>
          <a class="ui red inverted button" href="/clients/<%= client._id %>">Done / Go Back</a>
      </form>
    </div>

<% include ../partials/footer %>
